.city-editor {
	position: relative;
}

.search-city {
	width: 70%;
	margin: 10px;
	border-radius: 5px;
	border: 2px solid #ccc;
	padding: 5px;
}

.add {
	display: inline-block;
	cursor: pointer;
	padding: 5px 20px;
	border: 2px solid #ccc;
	border-radius: 5px;
	background-color: #fdd501;

}

.search-result {
	position: absolute;
	background-color: #afc5dc;
	z-index: 99;
	left: 13%;
	top: 90%;
	width: 65%;
}